<h3> Tickets from Other Members of Your League: </h3>


<table>
  <tr>
{{#each matchups}}
    <td><input type="checkbox" value="away">{{away}}</td>
    <td>@</td>
    <td><input type="checkbox" value="home">{{home}}</td>
  </tr>
{{/each}}
</table>


<table>
  <tr>
{{#each matchups}}
    <td><input type="checkbox" value="away">{{away}}</td>
    <td>@</td>
    <td><input type="checkbox" value="home">{{home}}</td>
  </tr>
{{/each}}
</table>
